[submodule "contracts"]
	path = contracts
	url = https://github.com/sekaiamber/an-erc-20-privacy-extension-protocol-contracts.git
[submodule "dapp"]
	path = dapp
	url = https://github.com/sekaiamber/an-erc-20-privacy-extension-protocol-dapp.git
